@import "tailwindcss";

body {
  background: #000;
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  overflow: hidden;
}

@layer components {
  .container-custom {
    @apply container xl:max-w-[1200px] mx-auto;
  }

  .center-flex {
    @apply !flex !items-center !justify-center;
  }

  .center-fixed {
    @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .overlay {
    @apply fixed inset-0 bg-black/30 z-40;
  }
}

@theme {
  --primary-light: #34ffec;
  --primary-dark: #0a2540;
  --secondary: #ffad00;
}

::-webkit-scrollbar {
  display: none;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333;
  cursor: pointer;
}

.scroll-visible::-webkit-scrollbar {
  display: block;
  width: 6px;
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 30s linear infinite;
  }
  .animate-spin-reverse-slow {
    animation: spin reverse 30s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
