@import "tailwindcss";

body {
  background-color: #111;
  color: #fff;
  font-family: "roboto", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

@layer components {
  .container-custom {
    @apply container xl:max-w-[1200px] mx-auto;
  }

  .center-flex {
    @apply !flex !items-center !justify-center;
  }

  .center-fixed {
    @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .overlay {
    @apply fixed inset-0 bg-black/30 z-40;
  }
}

@theme {
  --primary-light: #34ffec;
  --primary-dark: #0a2540;
  --secondary: #ffad00;
  --third: #87209e;
}

::-webkit-scrollbar {
  display: none;
  width: 4px;
  height: 4px;
}

.show-scrollbar::-webkit-scrollbar {
  display: block !important;
}

::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-light);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.scroll-visible {
  overflow-y: auto;
  padding-right: 6px;
}

.scroll-visible::-webkit-scrollbar {
  display: block;
  width: 4px;
}

.popover-primary-light .ant-popover-arrow::before {
  background-color: transparent !important;
}
.popover-primary-light .ant-popover-arrow::after {
  box-shadow: 0 0 2px var(--primary-light) !important;
  background-color: black !important;
}

.popover-none .ant-popover-arrow {
  display: none !important;
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 30s linear infinite;
  }
  .animate-spin-reverse-slow {
    animation: spin reverse 30s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
